[Unit]
Description=RFID musicbox
After=multi-user.target mopidy.service brickd.service

[Service]
Type=idle
ExecStart=/home/pi/player_launcher.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
